h1 {font-family: 'Times New Roman', Times, serif; font-variant: normal; 
    font-size: 110px; color: #712B75; margin: 50px 30px; padding: 20px; text-align: center;
     }

    h2 {font-family:'Times New Roman', Times, serif  ;
     font-size: 55px; color: #ce77d3; font-weight: bold; text-align: center;
     }

    h3 {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 30px; color: #C74B50; margin: 25px }

    p { font-family: Verdana, Geneva, Tahoma, sans-serif; 
     font-size: 20px; color:  rgb(44, 57, 57); 
     background: #afbfe3c5; margin: 20px; width: 39%;}

    body {background-color: #cfdce3;
        background-image: url(/Users/Ivan/Documents/Delo/ENTREGAS/Entrega5/cielo3.jpg); background-size: 100%;
    }
     
     
    button {
        background-color: #e3e3e3;
        color: rgb(0, 0, 0);
        justify-items: baseline; border-radius: .5em; cursor: pointer; 
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 0.5em; 
        font-weight: bold; line-height: 1.5em;
        margin-left: 7px;
        justify-items: normal;
    }
    button:hover {background: #f4989e;}
    button:active { background: #ffffff97;}

    