    h1 {font-family: Georgia, 'Times New Roman', Times, serif; font-variant: small-caps; 
    font-size: 95px; color: #ec0d0d; margin: 50px; padding: 20px;}

    h2 {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 55px; color: #fbc80e; font-weight: bold; 
     }

    h3 {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 30px; color: #eb8e63;}

    p { font-family: Verdana, Geneva, Tahoma, sans-serif; 
     font-size: 18px; color: rgb(247, 249, 249); 
     background: #0a4df8c5; margin: 20px; width: 39%;}

    body {background-image: url(travel2.jpg); background-size: 100%; background-color: aliceblue;}
     
     
    button {
        background-color: #ee4807;
        color: rgb(255, 255, 255);
        justify-items: baseline; border-radius: .5em; cursor: pointer; 
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 1em; 
        font-weight: bold; line-height: 1.6em;
        margin-left: 10px;
        justify-items: normal;
    }
    button:hover {background: #f91e2d;}
    button:active { background: #d70a1897;}
    
