    
    h1 {font-family: 'Times New Roman', Times, serif; font-variant: normal; 
    font-size: 100px; color: #cac118; margin: 50px 30px; padding: 20px; text-align: center;
    border-radius: 16px; align-content: center; background-color: hsl(270, 77%, 39%);
    margin: 15px; 
    }

    h2 {font-family:'Times New Roman', Times, serif  ;
     font-size: 25px; color: #2f1d87; font-weight: bold; text-align: center;
    }

    h3 {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 30px; color: #af171c; margin: 25px }

    p { font-family: Verdana, Geneva, Tahoma, sans-serif; 
     font-size: 20px; color:  rgb(245, 251, 251); 
     background: #03102fc5; margin: 20px; }

    body {
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: 'Open Sans', sans-serif;
            background: #222;
            background-image: url('https://source.unsplash.com/1600x900/?landscape');
    }
    
    .userRegisterFormBox {
            background-color: #9f87ed;
            width: 600px;
            padding: 20px;
            border-radius: 16px;
            align-content: flex-start ;
            margin: 15px;
            
    }
     .destinationFormBox {
        background-color: #2b64f4;
        width: 600px;
        padding: 20px;
        border-radius: 16px;
        align-content: flex-start ;
        margin: 15px;
    }

    .worldwideWeather{
        background-color: #d4932a;
            width: 600px;
            padding: 20px;
            border-radius: 16px;
            align-content: flex-start ;
            margin: 15px;
    }
    button {
        background-color: #e3e3e3;
        color: rgb(0, 0, 0);
        justify-items: baseline; border-radius: .5em; cursor: pointer; 
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 0.5em; 
        font-weight: bold; line-height: 1.5em;
        margin-left: 7px;
        justify-items: normal;
    }

    button:hover {background: #f4989e;}
    button:active { background: #ffffff97;}

    .icon {
        width: 90px;
        height: 90px;
    }

    .passengerData {
        width: 500px;
        height: auto;
        border: 3px solid rgb(43, 0, 255);
        margin: 20px;
        border-radius: 25px;
    }

    .weather {
        background: #38bd4e;
        color: rgb(255, 255, 255);
        padding: 2em;
        border-radius: 30px;
        width: 100%;
        max-width: 220px;
        margin: 1em;
    }

    .button {
        margin: 0.5em;
        border-radius: 50%;
        border: none;
        height: 44px;
        width: 44px;
        outline: none;
        background: #7c7c7c2b;
        color: white;
        cursor: pointer;
        transition: 0.2s ease-in-out;

    }